<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <title>iBusNetDisruptionMonitor</title>
    <mode>Dev</mode>
    <!--Dev;Test;Prod-->
    <feedsDir>E:\Workspace\iBusNetTestDirectory</feedsDir>
    <processedDirectory>E:\Workspace\iBusNetTestDirectory\ProcessedFiles</processedDirectory>
    <monitorThreadSleepInterval>2500</monitorThreadSleepInterval>
    <!--In milliseconds-->
    <busStopFile>
        <path>E:\Workspace\iBusNetTestDirectory\busNetwork\bus-stops.csv</path>
        <delimiter>,</delimiter>
        <header>true</header>
        <!-- 1-true, 0-false -->
    </busStopFile>
    <routesFile>
        <path>E:\Workspace\iBusNetTestDirectory\busNetwork\bus-sequences.csv</path>
        <delimiter>,</delimiter>
        <header>true</header>
    </routesFile>
    <feedFile>
        <nameStartWith>CC_</nameStartWith>
        <nameEndWith>.csv</nameEndWith>
        <delimiter>;</delimiter>
        <header>true</header>
        <!--Interval at which new feeds are pushed (in seconds)-->
        <updateInterval>300</updateInterval>
    </feedFile>
    <dateFormat>yyyy/MM/dd HH:mm:ss</dateFormat>
    <disruption>
        <sectionMediumThreshold>1200</sectionMediumThreshold>
        <sectionSeriousThreshold>2400</sectionSeriousThreshold>
        <sectionSevereThreshold>3600</sectionSevereThreshold>
        <routeSeriousThreshold>2400</routeSeriousThreshold>
        <routeSevereThreshold>3600</routeSevereThreshold>
        <maxSectionLength>3</maxSectionLength>
    </disruption>
</configuration>